@using LibraryProject.Models.Entities
@model Author

@{
    ViewData["Title"] = "UpdateAuthor";
    Layout = "~/Views/Shared/_LibraryLayout.cshtml";
}

<h2>Yazar Güncelle</h2>
<br />

<form method="post">

    <input type="hidden" name="AuthorId" value="@Model.AuthorId" />
    <div class="row">
        <div class="col-md-5">
            <div class="md-3">
                <label style="padding-bottom:3px;font-weight:600">Yazar Adı</label>
                <input type="text" name="AuthorName" class="form-control" value="@Model.AuthorName" />
            </div>
            <br />
            <div class="md-3">
                <label style="padding-bottom:3px;font-weight:600">Yazar Soyadı</label>
                <input type="text" name="AuthorSurname" class="form-control" value="@Model.AuthorSurname" />
            </div>
            <br />
            <button class="btn btn-success">Güncelle</button>
        </div>
    </div>

</form>