@using LibraryProject.Models.Entities
@model BorrowedBook
@{
    ViewData["Title"] = "BorrowBook";
    Layout = "~/Views/Shared/_LibraryLayout.cshtml";
}

<h2>Kitap Ödünç Ver</h2>
<br />

<form method="POST">
    <div class="row">
        <div class="col-md-5">
            <div class="md-3">
                <label style="padding-bottom:3px;font-weight:600">Kitap Adı</label>
                @Html.DropDownListFor(x => x.BookId, (List<SelectListItem>)ViewBag.getBook, new { @class = "form-control" })
                <br />
            </div>

            <div class="md-3">
                <label style="padding-bottom:3px;font-weight:600">Üye</label>
                @Html.DropDownListFor(x => x.MemberId, (List<SelectListItem>)ViewBag.getMember, new { @class = "form-control" })

            </div>
            <br />

            <div class="md-3">
                <label style="padding-bottom:3px;font-weight:600">Veriliş Tarihi</label>
                <input type="datetime-local" name="BorrowDate" class="form-control" />
            </div>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Kitabı Ödünç Ver</button>
</form>


