
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LibraryLayout.cshtml";
}

<div class="text-center pt-4">
    <h1 style="font-size:5vw"> .NetCore Mvc ile Basit Kütüphane Uygulaması</h1>
</div>

